
.title {
  display: block;
  border: 3px, solid, rgb(28, 28, 184);
  text-align: center;
  
}
.selector,
button{
  /* width: 100px; */
  padding: 3px;
  border: 1px dotted white;

}
#selector-holder{
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  margin: 0 auto;
  background-color: black;
  border: 3px dotted white;
  padding: 3px;
  justify-content: space-around;
}