*{
  margin: 0 auto;
}
.title {
  display: block;
  border: 3px solid rgb(28, 28, 184);
  text-align: center;
  font-size: 35px;
  
}
.description{
  width: 65vw;
  font-size: 20px;
  text-align: justify
}
.selector,
button{
  width: 10vw;
  padding: 3px;
  border: 1px dotted white;

}

#selector-holder{
  display: flex;
  flex-flow: row wrap;
  width: 77%;
  margin: 0 auto;
  background-color: black;
  border: 3px dotted white;
  padding: 3px;
  justify-content: space-evenly;
}

#select-month,
#select-day{
  width: 50px;
}


@media (min-width: 1500px){

    #selector-holder{
      flex-flow: column wrap;
      width: 15%;
      justify-content: space-around;
      height: 77vh;
    }
}