*{
  margin: 0 auto;
}
p,li,div{
  color: silver;

}
body{
  background-image: url('https://cdn.mos.cms.futurecdn.net/vF2iCQbygk5PEQADvAJzF8-1024-80.jpg');
  height: 100vh;
  width: 100vw;
}
.title {
  margin: 1vh 1vw;
  padding: 1vh 1vw;
  color: rgb(111, 162, 153);
  display: block;
  border: 3px solid rgb(28, 28, 184);
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
  text-shadow: 1px 1px 15px rgb(210, 210, 210);
}
.description{
  color: rgb(111, 162, 153);
  width: 50vw;
  font-size: 20px;
  text-align: justify;
  padding: 5vh 5vw;
  margin: 2vh auto;
  text-shadow: 1px 1px 5px rgb(34, 77, 69);
}
.selector,
button{
  width: 10vw;
  padding: 3px;
  border: 1px dotted gray;
  flex-flow: row wrap;

}
ul{
order:-1;
width: 215px;
height: 415px;
}
#cam-hover{
  order:1;
  font-size: 20px;
  padding: 5px 10vw;
  border: 1px dotted silver;
  margin: 5px 10vw;
}
#display{
  order:2;
}
#count{
  order:3;
  font-size: 25px;
}
.next{
  
  display: inline-block;
  margin: auto 7vw;
  color: black;
  border: 2px dotted gray;
  padding: 50px 7vw;
  background-color: silver;
}
.up{
  float: left;
}
.down{
  float: right;
}
#selector-holder,
aside{
  display: flex;
  flex-flow: row wrap;
  width: 96%;
  margin: 0 auto;
  background-color: black;
  border: 3px dotted white;
  padding: 3px;
  justify-content: space-around;
  order:1;
}

#select-month,
#select-day{
  width: 35px;
}

footer{
  margin: 420px auto;
  text-align: center;
  background-color: silver;
  border: 2px dotted gray;
}

@media (min-width: 900px){

  .title{
    margin: 3vh 3vw;
    padding: 3vh 3vw;
  }
  #selector-holder{
    flex-flow: column wrap;
    width: 200px;
    height: auto;
  }

  .description{
    padding: 10vh 10vw;
    margin: 7vh auto;
  }

  ul{
    order: -1;
  }

}